.event-list {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
.event-card {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
h2 {
  color: #333;
}
 
h3 {
  color: #0066cc;
}
 
strong {
  color: #555;
}
 
button {
  padding: 10px 20px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
 
button:hover {
  background-color: #004080;
}





.event-list {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-card {
  display: flex;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-info {
  display: flex;
  flex-direction: row;
  width: 70%; /* Adjust width as needed */
}

.date-day {
  width: 20%; /* Width for date and day section */
  padding: 15px;
  background-color: #f0f0f0;
}

.main-info {
  flex: 1;
  padding: 15px;
}

h2 {
  color: #333;
}

h3 {
  color: #0066cc;
}

strong {
  color: #555;
}

button {
  padding: 10px 20px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #004080;
}

.event-image {
  margin-left: 20px;
  /* Add margin to separate the image */
    margin-top: 1%;
    
   /* Adjust as needed */
}
